/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.DS_Store
*.swp

#Ignore folder that stores large binaries
language-models/

#Unignore needed berkeley jar
!berkeleylm.jar

#Ignore Maven Local checksums

